{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}

    <h3>Ответы:</h3>
    <div id="answers-block">
        {% include "inc-answers-admin.html" %}
    </div>

    <hr>
    Выберети комнату<br>
    <ul>
        {% for activity in activities %}
            <li>
                {{ activity }}
                <ol>
                    {% for gr in activity.students_groups.all %}
                        <li>
                            <a href="{{ gr.get_absolute_url }}">
                                {{ request.get_host }}{{ gr.get_absolute_url }}
                            </a>
                        </li>
                    {% endfor %}

                </ol>
            </li>
        {% endfor %}
    </ul>
{% endblock %}

{% block scripts %}

    <script>
        let roomSocket = new WebSocket(
            'ws://' + window.location.host);

        roomSocket.onclose = function (e) {
            console.error('room socket closed unexpectedly')
        };

        roomSocket.onmessage = function (e) {
            let data = JSON.parse(e.data);
            let answers = data['answers_for_check'];
            if (answers !== undefined) {
                $('#answers-block').html(answers)
            }
        };
    </script>
{% endblock %}
