<div class="row">
    <div class="col">

        <h2 class="text-center task-header">{{ task.category }}</h2>
        <p>
            {{ task.text }}
        </p>
        {% if task.exercise_link %}
            <p>
                <a href="{{ task.exercise_link }}" target="_blank">{{ task.exercise_link }}</a>
            </p>
        {% endif %}

        {% if task.exercise_file %}
            <p>
                <a href="{{ task.exercise_file.url }}" download>Скачать файл</a>
            </p>
        {% endif %}

        {% if task.exercise_image %}
            <p>
                <img src="{{ task.exercise_image.url }}" alt="КАртинка задания" class="img-fluid rounded float-right">
            </p>
        {% endif %}

    </div>
</div>
<hr>
<div class="row">
    <div class="col">
        <h4>Введите ваш ответ:</h4>
        <form id="answer-form" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="input-button" data-url="{% url 'activity:task' task_id=task.pk %}"
                    id="send-answer">
                <span>Отправить ответ</span>
            </button>
        </form>
    </div>

</div>

<script>
    $('#send-answer').click(function (e) {
        e.preventDefault();

        let form = $('#answer-form');
        let formdata = false;
        if (window.FormData) {
            formdata = new FormData(form[0]);
        }

        let url = $(this).data('url');
        $.ajax({
            url: url,
            data: formdata ? formdata : form.serialize(),
            cache: false,
            contentType: false,
            processData: false,
            type: 'POST',
            success: function (data) {
                $('#answer-block').html(data)
            }
        });
    });
</script>