<div>
    <h4>Задание</h4>
    <p>{{ answer.task.text }}</p>
    <h5>Ответ:</h5>
    <p>{{ answer.task.auto_answer }}</p>
</div>
<div>
    {% if answer.text %}
        <p>{{ answer.text }}</p>
    {% elif answer.num %}
        <p>{{ answer.num }}</p>
    {% elif answer.file %}
        <p>{{ answer.file.url }}</p>
    {% elif answer.url %}
        <p><a href="{{ answer.url }}" target="blank">{{ answer.url }}</a></p>
    {% endif %}
</div>
<div>
    <form action="{% url 'activity:answer' answer_pk=answer.pk %}" method="POST"
          id="answer-status-change">{% csrf_token %}

        <p><input name="status" type="radio" value="1"> Правильно</p>
        <p><input name="status" type="radio" value="0"> Не правильно</p>
        <p><input type="submit" value="Выбрать"></p>
    </form>
</div>

<script>
    $('#answer-status-change').on('submit', function (e) {
        e.preventDefault();
        let form = $('#answer-status-change');
        let url = form.attr('action')
        $.post(url, form.serialize(), function (data) {
            $('#answers-block').html(data)
        })

    })
</script>