<ul>
    {% for answer in answers %}
        <li id="answer_{{ answer.pk }}">
            <a href="#" data-url="{{ answer.get_absolute_url }}" id="answer_{{ answer.pk }}"
               onclick=get_answer({{ answer.pk }})>{{ answer }}</a>
            <div id="answer_{{ answer.pk }}"></div>
        </li>
    {% endfor %}
</ul>

<script>
    function get_answer(answer_pk) {
        let url = $('a#answer_' + answer_pk).data('url');
        $.get(url, function (data) {
            $('#answer_' + answer_pk).html(data)
        })
    }
</script>