body {
    background: url("../img/bg-body.png") repeat;
}

nav {
    background-image: url("../img/bg-nav.png");
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);;
}

ul#tasksList {
    list-style: none;
}

ul#userList {
    list-style: none;
}

a {
    color: black;
}

a:hover {
    text-decoration: none;
}

span.rejected {
    background: url("../img/rejected-icn.png") no-repeat;
    background-size: cover;
    display: inline-block;
    height: 15px;
    width: 15px;
}

span.done {
    background: url("../img/done-icn.png") no-repeat;
    background-size: cover;
    display: inline-block;
    height: 15px;
    width: 15px;
}

span.check {
    background: url("../img/check-icn.png") no-repeat;
    background-size: cover;
    display: inline-block;
    height: 15px;
    width: 15px;
}

li.task-item {
    font-size: 20px;
    font-weight: bold;
    margin: 10px
}

li.inactive-task {
    color: gray;
}

.task-header {
    color: red;
}

.nav-activity {
    color: red !important;
    font-weight: bolder;
    font-size: xx-large;

}

.navbar-points {
    font-weight: bolder;
    color: black !important;
    font-size: larger;
}

.user-ready {
    color: green;
}

.input-button {
    -ms-transform: skewX(-20deg);
    -moz-transform: skewX(-20deg);
    -webkit-transform: skewX(-20deg);
    border: none;
    /*border-right-color: black;*/
    /*border-bottom-color: black;*/
    box-shadow: -3px -3px 0 0 red,
    3px 3px 0 0 black,
    -3px -3px 0 0 red,
    -3px -3px 0 0 black;
    background: blue;
    padding: 10px 35px;
    color: white;
    font-weight: bold;
    text-align: center;

}

.input-button > span {
    display: block;
    transform: skewX(20deg);
    -ms-transform: skewX(20deg);
    -moz-transform: skewX(20deg);
    -webkit-transform: skewX(20deg);
}
