<ul id="tasksList">
    {% for task in tasks %}
        <li data-task-id="{{ task.pk }}"
            class="task-item {% if not group.job_status == 'ST' or group.job_status == 'FI' %}inactive-task{% endif %}">
            {% if not group.job_status == 'ST' or group.job_status == 'FI' %}
                {{ task.category }}
            {% else %}
                <a href="#" id="task-link-{{ task.pk }}" data-url="{% url "activity:task" task_id=task.pk %}"
                   onclick=get_task({{ task.pk }})>

                    {{ task.category }}
                    {% for answer in answers %}
                        {% if answer.task.pk == task.pk %}

                            <span class="{{ answer.status }}"></span>
                        {% endif %}
                    {% endfor %}
                </a>
            {% endif %}
        </li>
    {% endfor %}
</ul>

