<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Добро пожаловать</title>
</head>
<body>
<h3>Ваша группа: {{ group_name }}</h3>

Введите ваше имя:<br>

<form action="{% url 'rooms:login' room_name=group_name %}" method="POST">
    {% csrf_token %}
    <input name="username" type="text" size="100" required><br>
    <button id="user-name-submit" type="submit">Enter</button>
</form>

</body>
</html>