{% extends 'base.html' %}
{% load static %}

{% block title %}Rooms{% endblock %}


{% block content %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
        <div class="container">
            <span class="navbar-brand"><img src="{% static "img/logo.png" %}" height="80" alt="logo"></span>
            {#            <div class="container">#}
            <span class="navbar-text navbar-points">1500 <br> балла</span>
            <span class="navbar-text nav-activity">{{ group.activity.name|upper }}</span>
            <span class="navbar-text navbar-points">60 мин.</span>
            {#            </div>#}
        </div>
    </nav>
    <div class="container-fluid" id="group-room" data-room-id="{{ group.pk }}">
        <div class="row">
            <div class="col-4">
                <div class="row">
                    {% include "inc-tasks-list.html" %}
                </div>
            </div>
            <div class="col-8">
                <div id="answer-block" class="mb-4">
                    <h4>Пользователи в комнате:</h4>
                    <div class="row">

                        <ul id="userList">
                            {% include "inc-room-user-list.html" %}
                        </ul>

                    </div>
                    <div class="row">
                        <p>
                            {% if not request.user.is_athenticated and not user.ready %}
                                <button id="student-ready" class="input-button" data-uid="{{ user.pk }}">
                                        <span>Готов к
                                        выполнению!</span>
                                </button>
                            {% endif %}
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </div>

{% endblock %}


{% block scripts %}
    <script>
        let roomName = $('#group-room').data('room-id');

        let roomSocket = new WebSocket(
            'ws://' + window.location.host + '/rooms/room/' + roomName + '/');

        roomSocket.onclose = function (e) {
            console.error('room socket closed unexpectedly')
        };

        roomSocket.onmessage = function (e) {
            let data = JSON.parse(e.data);
            let users = data['users_list'];
            let tasks = data['tasks'];
            if (users !== undefined) {
                $('#userList').html(users)
            }

            if (tasks !== undefined) {
                $('#tasksList').html(tasks)
            }

        };

        $('#student-ready').click(function (e) {
            let userReady = {
                'user_ready': $(this).data('uid')
            };

            roomSocket.send(JSON.stringify(userReady));

            $('#student-ready').remove();
        });
    </script>
    <script>
        function get_task(task_id) {
            let url = $('a#task-link-' + task_id).data('url');
            $.get(url, function (data) {
                $('#answer-block').html(data)
            })
        }
    </script>
{% endblock %}
